button {
    border-radius: 20px;
}

canvas {
    display: block;
    margin: 0 auto;
}

.sig {
    display: flex;
}

.dataInp {
    display: flex;
}

#info-box {
    margin-top: 10px;
    font-weight: bold;
    display: flex;
    min-width: 50%;
    float: left;
}

.color-picker, .color-picker-rect, .color-picker-canvas{
    text-align: right;
    margin-left: 50%;
    width: 50%;
}